<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    {% extends 'sidebar.html' %}

    {% set active_page = "materias" %}

    {% block conteudo %}

    <!-- CONTEÚDO -->
    <div class="main-content-materias">
        <div class="container-materias">
            <div class="container-materias-title">
                <h2> Matérias </h2>
            </div>
            <div class="table">
                <table class="table mx-auto w-75">
                    <tr>
                        <th>Nome</th>
                        <th>Nível de Afinidade</th>
                        <th>Peso na prova</th>
                        <th>Detalhes</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                    {% for materia in materias_db %}
                    <tr>
                        <td> {{materia.nome}} </td>
                        <td> {{materia.nivelAfinidade}} </td>
                        <td> {{materia.pesoProva}} </td>
                        <td><a href="/materias/detalhes">i</a></td>
                        <td><a href="{{ url_for('editar', codMateria=materia.codMateria) }}">i</a></td>
                        <td><a href="{{ url_for('excluir', codMateria=materia.codMateria) }}">i</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <a href="/materias/adicionar" class="btn-add"> Adicionar </a>
        </div>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    {% endblock %}

</body>
</html>