<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Novo ciclo de estudos </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar\.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> 
</head>

<body>
    <!-- O gráfico não funciona caso extenda alguma página, n sei pq T.T -->

    {% block conteudo %}

    <div class="mx-auto">
        <h5 class="h3 mb-3 mt-3 display-7 fw-bold text-center">
            TÍTULO
        </h5>
        <div style='width: 550px;'>
            <canvas class="d-flex flex-row-reverse" id="myChart" width="300" height="300"></canvas>
        </div>
        
    </div>

    <script>
        let ctx = document.getElementById('myChart').getContext('2d');
        const materias = [];
        const minutos = [];
    </script>

    {% for materia in materias %}
    <script> materias.push('{{ materia }}');</script>
    {% endfor %}

    {% for minutos in minutos %}
    <script> minutos.push('{{ minutos }}');</script>
    {% endfor %}

    {% endblock %}
</body>
<script>
    let myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: materias,
            datasets: [{
                data: minutos,
                backgroundColor: [
                    '#76CFBB', '#5781B4', '#FF868A', '#FFCB37', '#A58ACF', '#5BB54E', '#9C4953', '#D5B3AE', '#CFA26B', '#3D8273', '#599C8D'
                ],
                borderWidth: 1,
                datalabels: {
                    anchor: 'center'
                }
            }]
        },
        options: {
            tooltips: {
                mode: 'label',
                callbacks: {
                    label: function (tooltipItem, data) {
                        var indice = tooltipItem.index;
                        var minutos = data.datasets[0].data[indice];
                        var horas = Math.floor(minutos / 60);
                        var min = minutos % 60;
                        var textoHoras = (`00${horas}`).slice(-2);
                        var textoMinutos = (`00${min}`).slice(-2);
                        return data.labels[indice] + ': ' + textoHoras + 'h' + textoMinutos + 'min';
                    }
                }
            }
        },
    });
</script>

</html>