<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title> {{ title }} </title>

</head>

<body>  
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{{ url_for('static', filename='imagens/Logo.png') }}" alt="logo" width="60" height="60">
      </a>
    
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Ajuda</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Sobre</a></li>
      </ul>
    
      <div class="col-md-3 text-end">
        <a class="btn btn-outline-primary me-2" href="{{url_for('login')}}"> Login </a>
        <a class="btn btn-primary" href="{{url_for('formregistrar')}}"> Cadastrar </a>
      </div>
    </header>
  </div>

    {% block conteudo %}
    {% endblock %}

</body>
</html>