<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

    {% extends 'sidebar.html' %}

    {% block conteudo %}

    <div class="grid-container container align-self-center">
        <div class="main-content flex-column">
            <span class="main-content-title">
                <h2> Meu Flow </h2>
                <p> Seu ciclo de estudos personalizado especialmente para você, basta adicionar suas disciplinas do
                    momento para melhorar seu gerenciamento de tempo. </p>
            </span>
            <div class="container-ciclo">
                <canvas id="grafico_ciclo" width="400" height="400"></canvas>
            </div>
            
        </div>

        <div class="d-flex horas-estudadas flex-column">
            <span class="horas-estudadas-title">
                <h2> Horas estudadas </h2>
            </span>
            <canvas class="d-flex" id="horas_estudadas" width="312" height="283"></canvas>
            <div class="horas-estudadas-btns d-flex align-items-end">
                <a href="#" class="btn btn-edit"> Editar </a>
                <a href="#" class="btn btn-add"> Adicionar </a>
            </div>
        </div>
    </div>

    <script>
        let ctx = document.getElementById('grafico_ciclo').getContext('2d');
        const materias = [];
        const minutos = [];
    </script>

    {% for materia in materias %}
    <script> materias.push('{{ materia }}');</script>
    {% endfor %}

    {% for minutos in minutos %}
    <script> minutos.push('{{ minutos }}');</script>
    {% endfor %}

    <script>
        let grafico_ciclo = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: materias,
                datasets: [{
                    data: minutos,
                    backgroundColor: [
                        '#76CFBB', '#5781B4', '#FF868A', '#FFCB37', '#A58ACF', '#5BB54E', '#9C4953', '#D5B3AE', '#CFA26B', '#3D8273', '#599C8D'
                    ],
                    borderWidth: 1,
                    datalabels: {
                        anchor: 'center'
                    }
                }]
            },
            options: {
                tooltips: {
                    mode: 'label',
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var indice = tooltipItem.index;
                            var minutos = data.datasets[0].data[indice];
                            var horas = Math.floor(minutos / 60);
                            var min = minutos % 60;
                            var textoHoras = (`00${horas}`).slice(-2);
                            var textoMinutos = (`00${min}`).slice(-2);
                            return data.labels[indice] + ': ' + textoHoras + 'h' + textoMinutos + 'min';
                        }
                    }
                }
            },
        });
    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    {% endblock %}

</body>

</html>