<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
</head>
<body>
    {% extends "base.html" %} 
    {% block conteudo %}
    <div class="main">
        <div class="container">
            <h2> Experimente construir o seu <b class="cor"> ciclo! </b> </h2>
            <p> O ciclo de estudos é uma técnica de estudo utilizada para a melhoria da sua aprendizagem e gestão de tempo. Com o Ciclo Otimizado de Estudos, você poderá ter acesso á um ciclo programado especialmente para as suas matérias principais. </p>
            <button class="botão-saiba-mais"> Saiba mais </button>
        </div>
        <img class="imagem-index" src="{{ url_for('static', filename='imagens/estudo.png') }}" alt="imagem" width="600">
    </div>
    {% endblock %}
</body>
</html>