{% extends 'base.html' %}

{% block conteudo %}

{% set mensagens = get_flashed_messages(with_categories=true) %}
{% if mensagens %}
{% for categoria, msg in mensagens %}
    <div class="alert alert-{{categoria}}" role="alert">
        {{ msg }}
    </div>
{% endfor %}
{% endif %}

<main class="form-signin">
    <form action="/login" method="POST">
        {{ form.csrf_token() }} 
      <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal"> StudyFlow </h1>
      <div class="form-floating">
        <label for="floatingInput">Usuário</label>
        {{ form.usuario(class="form-control", placeholder="Digite seu usuário") }}
      </div>
      <div class="form-floating">
        <label for="floatingPassword">Senha</label>
        {{ form.senha(class="form-control", placeholder="Digite sua senha") }}
      </div>
      {{ form.entrar(class="btn btn-primary")}}<br/>
    </form>
</main>

<p> Clique aqui para <a href="/formregistrar"> Registrar-se </a></p>

<p class="mt-5 mb-3 text-muted">&copy; 2021 StudyFlow, IFRN</p>
{% endblock %}