<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Login </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

  {% extends 'base.html' %}

  {% block conteudo %}
  
  {% set mensagens = get_flashed_messages(with_categories=true) %}
  {% if mensagens %}
  {% for categoria, msg in mensagens %}
      <div class="alert alert-{{categoria}}" role="alert">
          {{ msg }}
      </div>
  {% endfor %}
  {% endif %}
  
  <main class="form-signin">
      <img src="{{ url_for('static', filename='imagens/estudo.png') }}" alt="imagem" width="750">
      <form class="form-login" action="/login" method="POST">
          {{ form.csrf_token() }} 
        <img src="{{ url_for('static', filename='imagens/Logo.png') }}" alt="logo" width="150">
        <h2 class="h2 mb-3 fw-normal"> Entre em sua conta! </h2>
        <div class="form-floating">
          <label for="floatingInput">Usuário</label>
          {{ form.usuario(class="form-control") }}
        </div>
        <div class="form-floating">
          <label for="floatingPassword">Senha</label>
          {{ form.senha(class="form-control") }}
        </div>
        {{ form.entrar(class="btn btn-primary")}}<br/>
        <p> Não possui uma conta? <a href="/registrar"> Cadastre-se! </a></p>
      </form>
  </main>
  {% endblock %}
</body>
</html>